# Top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Standard for all files
indent_style = space
indent_size = 4
tab_width = 4

# Java-specific
[*.java]
indent_style = space
indent_size = 4
tab_width = 4

# Kotlin-specific
[*.kt]
indent_style = space
indent_size = 4
tab_width = 4

# Python-specific
[*.py]
indent_style = space
indent_size = 4
tab_width = 4

# YAML-specific
[*.yml]
indent_style = space
indent_size = 2
tab_width = 2

# JSON-specific
[*.json]
indent_style = space
indent_size = 4
tab_width = 4

# XML-specific
[*.xml]
indent_style = space
indent_size = 4
tab_width = 4

# HTML-specific
[*.html]
indent_style = space
indent_size = 4
tab_width = 4

# Gradle-specific
[*.gradle]
indent_style = space
indent_size = 4
tab_width = 4

# Text files
[*.txt]
indent_style = space
indent_size = 4
tab_width = 4

# Windows batch scripts
[*.bat]
indent_style = space
indent_size = 4
tab_width = 4

# Property files for translations
[*.properties]
charset = utf-8